@media screen and (min-width: 280px) {
  #logo{
    width: 85%;
    margin-top: 14%;
    margin-left: 7%;
  }
  #title{
    margin: 2% auto;
    text-align: center;
  }
  .navPoint {
    font-size: 0.75em;
  }  
  section{  
    padding-right: 0%;
  }
  h2{
    font-size: 1.6em;
  }
  p{
    font-size: 0.95em;
  }
  #logoBackground{
    width: 12%;
  }
  #textColumn{
    width: 84%;
  }

}

@media screen and (min-width: 480px) {
  section{  
    padding-right: 10%;
  }
  h2{
    font-size: 2em;
  }
  p{
    font-size: 1em;
  }
  .navPoint {
    font-size: 1em;
  }
  #logoBackground{
    width: 16%;
  }
  #textColumn{
    width: 80%;
  }
}

@media screen and (min-width: 780px) {
  #logo{
    margin: 0%;
    width: 40%;
  }
  #title{
    margin: 0;
    position: relative;
    top: -30%;
    left: 25%;
    text-align: left;
  }
  #title h1{
    font-size: 4.2em;
  }
  #title h3{
    font-size: 3.5em;
  }
  section{  
    padding-right: 16%;
  }
  h2{
    font-size: 2.2em;
  }
  p {
    font-size: 1.1em;
  }
  .navPoint {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1024px) {

}

html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: SuisseIntl,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  background-color: #d8efef;
  color: #3a3a3a;
}
#app-container{
  display: flex;
  flex-direction: column;

 
}
#home{
  font-style: italic;
  height: 90vh;
  padding: 5%;
  background-image: url("https://github.com/schenzio/img_msf_dataninja/blob/main/documenti%20(per%20home)%20BN.jpeg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  backface-visibility: 0.8;
}


svg#logo{
  z-index: 1;

}
#title{
  width: 75%;
  font-variant: small-caps;
  z-index: 0;
  color: white;
}
h1::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #dc3e44;
}

.chap, .logoBack{
  fill:#d7232a;
}

h2{
  font-family: inherit;
  margin-top: 3.125rem;
  padding-bottom: .625rem;
  position: relative;
}
h2::after {
  content: "";
  display: inline-block;
  min-width: 2.3125rem;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f33030;
}


div#guide {
  margin-top: 3%;
  margin-left: 3%;
  position: relative;
  font-size: 1.4em;
}
nav {
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: left;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 3;
  height: 10vh;
  
  }

.navPoint{
  color: white;
  text-decoration: none;
  background-color: #d7232a;
  width: 25%;
  padding: 1.8% 0;
  text-align: center;
  font-variant: small-caps;
 
}

svg#up{
  width: 5%;
  fill:hsl(358, 94%, 19%);
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 4;
}
svg#up:hover{
  fill:#eb836a;
}
/*scroll-story*/
.column{
  float:left;
}
#scroll-story{
  box-sizing: border-box;
}

#scroll-story:after {
  display: table;
  clear: both;
}
section{
  z-index: 2;
  padding-top: 8%;
  /*padding-left: 20%;*/

}
p{
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  line-height: 1.6em;
  letter-spacing: .0375rem;

}

.viz{
  margin-top: 2%;
  margin-bottom: 5%;
  z-index: 500;
}
.viz img{
  width: 90%;
}

.video{
  display: flex;
  margin: 4% auto;
  overflow: hidden;
  width: 70%;
}

.image-box{
  display: flex;
  width: 75%;
  margin: 4% auto;
}
.image-box img{
  width: 100%;
}

#logoBackground{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 20vh;

  padding: 1.8%;
  z-index: 1;
}
.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.2.em;
}
.slider input{
  margin: .4rem;
}

.note{
  position: relative;
  cursor: pointer;
  color: #d7232a;
}
sup{
  text-decoration: underline;
  font-size: 0.5rem;
}


.modal{
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  opacity: 0.9;
}
.modal-content {
  display: inherit;
  background-color: #d8efef;
  position: relative;
  top: 10%;
  margin: auto; 
  padding: 4%;
  border: 3px solid #d7232a;
  width: 80%; 
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover {
  color: #000;
  cursor: pointer;
}


footer{
  text-align: center;
  background-color: #d7232a;
  color: white;
  font-size: 1.5em;
  padding-top: 2%;
  margin-top: 10%;
}
footer li{
  list-style-type: none;
  margin: 2%;
}
@keyframes load {
  0% {position: fixed; top: 50%; right: 10%;}
  50%{position: relative; bottom: 50%}
  100%{position: static}
}
