@media screen and (min-width: 280px) {
  #title h3{
    font-weight: 300;
  }
  .navPoint, footer li {
    font-size: 0.8em;
  }  
  h2{
    font-size: 1.6em;
  }
  .viz h4{
    font-size: 1.4em;
  }
  p{
    font-size: 1em;
  }
  #textColumn{
    width: 84%;
  }
  #main ul {
    display: block;
    width: 100%;
  }
  footer {
    font-size: 1em;
  }
}

@media screen and (min-width: 480px) {
  h2{
    font-size: 2em;
  }
  .viz h4{
    font-size: 1.8em;
  }
  .navPoint {
    font-size: 1em;
  }
  #logoBackground{
    width: 16%;
  }
  #textColumn{
    width: 80%;
  }
  footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (min-width: 780px) {
  #title h1{
    font-size: 4.2em;
  }
  #title h3{
    font-size: 3.5em;
  }
  h2{
    font-size: 2.2em;
  }
  .viz h4{
    font-size: 2em;
  }
  p {
    font-size: 1.1em;
  }
  .navPoint {
    font-size: 1.5em;
  }
  footer {
    font-size: 1.5em;
  }
  footer li {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 1024px) {
  #title h1{
    font-size: 5.7em;
  }
  #title h3{
    font-size: 5em;
  }
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: SuisseIntl,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  background-color: #d8efef;
  color: #3a3a3a;
}
#app-container{
  display: flex;
  flex-direction: column;
}
#home {
  font-style: italic;
  height: 90vh;
  padding: 5%;
  background-image: url('https://github.com/schenzio/img_msf_dataninja/blob/main/documenti%20(per%20home)%20BN.jpeg?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
}

#title{
  width: 75%;
  font-variant: small-caps;
  color: white;
  margin: auto;
  text-align: center;
}

h1::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #dc3e44;
}

h2{
  font-family: inherit;
  margin-top: 3.125rem;
  padding-bottom: .625rem;
  position: relative;
}
h2::after {
  content: "";
  display: inline-block;
  min-width: 2.3125rem;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f33030;
}


div#guide {
  margin-top: 3%;
  margin-left: 3%;
  position: relative;
  font-size: 1.4em;
}
nav {
  display: flex;
  align-items: left;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 3;
  height: 10vh;
  }

.navPoint{
  color: white;
  text-decoration: none;
  background-color: #d7232a;
  width: 25%;
  padding: 1.8% 0;
  text-align: center;
  font-variant: small-caps;
 
}

svg#up{
  width: 5%;
  fill:hsl(358, 94%, 19%);
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 4;
}
svg#up:hover{
  fill:#eb836a;
}
/*scroll-story*/

#scroll-story{
  box-sizing: border-box;
}
#textColumn{
  margin: auto;
}
section{
  z-index: 2;
  padding-top: 8%;
  /*padding-left: 20%;*/
}

p{
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  line-height: 1.6em;
  letter-spacing: .0375rem;
  font-weight: 300;
}
p a {
  color: #d7232a;
}

.leading {
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.7em;
  background: #fff;
}
span.nero {
  font-weight: 600;
}
.rosso {
  font-weight: 500;
  color: #dc3e44;
}
.evidence {
  color: #3a3a3a;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.7em;
}
.cit {
  background-color: #fff;
  color: #3a3a3a;
  font-weight: 100;
  font-family: serif;
  font-size: 1.3em;
  padding: 7%;
}
.desc {
  font-family: sans-serif;
  text-align: right;
  font-weight: 200px;
  font-size: 0.7em;
  line-height: 10px;
}

.viz{
  margin-top: 10%;
  margin-bottom: 10%;
  z-index: 500;
}
.viz h4{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.viz img{
  width: 90%;
}
#origin h4{
  padding-bottom: 3%;
}
.video {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}
.video iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.image-box{
  display: flex;
  width: 75%;
  margin: 4% auto;
}
.image-box img{
  width: 100%;
}
.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.2.em;
}
.slider input{
  margin: .4rem;
}

.note{
  position: relative;
  cursor: pointer;
  color: #d7232a;
}

sup{
  text-decoration: underline;
  font-size: 0.5rem;
}


.modal{
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  opacity: 0.9;
}
.modal-content {
  display: inherit;
  background-color: #d8efef;
  position: relative;
  top: 10%;
  margin: auto; 
  padding: 4%;
  border: 3px solid #d7232a;
  width: 80%; 
}
.modal-content li{
  line-height: 1.6; 
  font-family: SuisseIntl,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 1.1em;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover {
  color: #000;
  cursor: pointer;
}

footer {
  height: 100vh;
  background-color: #d7232a;
  color: rgb(228, 204, 204);
  padding-top: 2%;
  margin-top: 10%;
  position: relative;
}
footer ul {
  float: left;
  width: 50%;
  padding-top: 50px;
  padding-left: 5%;
  text-align: left;
}
footer li {
  width: 50%;
  text-align: left;
  font-weight: 300;
  list-style-type: none;
  margin: 2%;
  line-height: 1.4;
}
#grazie {
  float: left;
  width: 50%;
  padding-top: 50px;
}
#grazie ul {
  float: right;
  width: 50%;
  text-align: right;
}
#grazie ul li {
  width: 50%;
  text-align: right;
  font-weight: 300;
}
#footer__text {
  padding: 3%;
  margin: auto;
  position: absolute;
  bottom: 20%;
  text-align: center;
}